<ng-container *ngFor="let img of imageData; let i = index">
  <div *ngIf="i==curindex && !loading"  [@slideAnimation]="animationType"
  [ngClass]="'mat-elevation-z3 galleryBGSlider div'+i"
  style="background: url({{img.url}});background-size:cover; "
  [style.width]="fullscreen? '100vw':''"
  [style.height]="fullscreen? '100vh':''"
  [style.left]="fullscreen? leftVal:''"
  ></div>
</ng-container>

<div class="playerButtonsAndGrid">
  <div class="playerButtons">
    <bn-player-buttons
    [paused]="paused"
    [disableBackward]="disableBackward"
    [disableForward]="disableForward"
    [fullscreen]="fullscreen" [buttonStyle]="buttonStyle" [color]="buttonColor"
    (action)="fireAction($event)"></bn-player-buttons>
  </div>

  <bn-image-stripe 
  [imageData]="imageData" 
  (selectedImage)="selectImage($event)" 
  [activeImage]="curindex"
  *ngIf="toogleStripe"></bn-image-stripe>

</div>

<div *ngIf="imageData && imageData[curindex].title" class="bnImageSliderTitle">{{imageData[curindex].title}}</div>
<div *ngIf="imageData && imageData[curindex].descr" class="bnImageSliderDescr">{{imageData[curindex].descr}}</div>
