<div class="imageStripeWrapper content-bg mat-evaluation-z3" [style.height.px]="imageHeight +margin*2">
    <div class="bnImageSliderLeftSpace"  [style.paddingTop.px]="imageHeight/2-10">
      <button mat-icon-button class="bn-button-fa"
        (click)="fireAction('backward')">
        <i class="fas fa-angle-double-left"></i>
      </button>
    </div>
    
    <div class="bnImageStripeContent" #imageStripe >
     <div [style.width.px]="(imageData.length+1)*imageSize" >
      <div *ngFor="let img of imageData; let i = index"  
        class="imageStripeThumbnail mat-evaluation-z3 " 
        style="background: url({{img.url}});background-size:cover; " 
        [style.opacity]="i == activeImage?1:''"
        [style.marginTop.px]="margin"
        [style.marginLeft.px]="margin"
        [style.width.px]="imageSize" 
        [style.height.px]="imageHeight"
        (click)="selectImage(img)">
    
        <div *ngIf="i == activeImage" class="bnImageStripeActive color-accentbg"></div>
    
      </div>
     </div>
    </div>
    
    <div class="bnImageSliderRightSpace" [style.paddingTop.px]="imageHeight/2-10">
      <button mat-icon-button  class="bn-button-fa"
        [disabled]="disableRight"(click)="fireAction('forward')"> 
        <i class="fas fa-angle-double-right"></i>
      </button></div>
    </div>
    