@if(col.type==='basic' || col.type===''){
    <bn-row-basic [colConf]="col" [row]="row" [searchText]="searchText"
    [secureMode]="secureMode" [disableAll]="disableAll" [disableEdit]="disableEdit"
    [enableToolTips]="enableToolTips" [translateTag]="translateTag"></bn-row-basic>
} @else if(col.type==='select'){
    <bn-row-select 
    [colConf]="col" [row]="row" [searchText]="searchText"  (quickAction)="setAction($event)"
    [secureMode]="secureMode" [disableAll]="disableAll" [disableEdit]="disableEdit"
    [enableToolTips]="enableToolTips" [translateTag]="translateTag"></bn-row-select>
} @else if(col.type==='rating'){
    <bn-row-rating [colConf]="col" [row]="row" [searchText]="searchText"  
    (quickAction)="setAction($event)"
    [secureMode]="secureMode" [disableAll]="disableAll" [disableEdit]="disableEdit"
    [enableToolTips]="enableToolTips" [translateTag]="translateTag"></bn-row-rating>
} @else if(col.type==='switch'){
    <bn-row-switch (quickAction)="setAction($event)" 
    [colConf]="col" [row]="row" [searchText]="searchText"
    [secureMode]="secureMode" [disableAll]="disableAll" [disableEdit]="disableEdit"
    [enableToolTips]="enableToolTips" [translateTag]="translateTag"></bn-row-switch>
} @else if(col.type==='tags'){
    <bn-row-tag [colConf]="col" [row]="row" [searchText]="searchText" [styleDisabled]="tagStyleDisabled"
    [secureMode]="secureMode" [disableAll]="disableAll" [disableEdit]="disableEdit"
    [enableToolTips]="enableToolTips" [translateTag]="translateTag"></bn-row-tag>
} @else if(col.type==='loop'){
    <bn-row-loop [colConf]="col" [row]="row" [searchText]="searchText"
    [secureMode]="secureMode" [disableAll]="disableAll" [disableEdit]="disableEdit"
    [enableToolTips]="enableToolTips" [translateTag]="translateTag"></bn-row-loop>
} @else if(col.type==='iconloop'){
    <bn-row-icon-loop [colConf]="col" [row]="row" [searchText]="searchText"
    [secureMode]="secureMode" [disableAll]="disableAll" [disableEdit]="disableEdit"
    [enableToolTips]="enableToolTips" [translateTag]="translateTag"></bn-row-icon-loop>  
} @else if(col.type==='image'){
    <bn-row-image [colConf]="col" [row]="row" [searchText]="searchText"
    [secureMode]="secureMode" [disableAll]="disableAll" [disableEdit]="disableEdit"
    [enableToolTips]="enableToolTips" [translateTag]="translateTag"></bn-row-image>
} @else if(col.type==='link'){
    <bn-row-link [colConf]="col" [row]="row" [searchText]="searchText"
    [secureMode]="secureMode" [disableAll]="disableAll" [disableEdit]="disableEdit"
    [enableToolTips]="enableToolTips" [translateTag]="translateTag"></bn-row-link>
} 