<table class="bn-exif-info">
    <tr>
        <td class="exif-label">{{'bnExifData.cameraMake' | translate }}</td>
        <td>{{exifData.cameraMake}}</td>
    </tr>
    <tr>
        <td class="exif-label">{{'bnExifData.cameraModel' | translate }}</td>
        <td>{{exifData.cameraModel}}</td>
    </tr>
    <tr>
        <td class="exif-label">{{'bnExifData.exposureTime' | translate }}</td>
        <td>{{exifData.exposureTime}}</td>
    </tr>
    <tr>
        <td class="exif-label">{{'bnExifData.fNumber' | translate }}</td>
        <td>{{exifData.fNumber}}</td>
    </tr>
    <tr>
        <td class="exif-label">{{'bnExifData.iso' | translate }}</td>
        <td>{{exifData.iso}}</td>
    </tr>
    <tr>
        <td class="exif-label">{{'bnExifData.focalLength' | translate }}</td>
        <td>{{exifData.focalLength}}</td>
    </tr>
    <tr>
        <td class="exif-label">{{'bnExifData.takenAt' | translate }}</td>
        <td>{{exifData.takenAt}}</td>
    </tr>
</table>
