@for(item of row[colConf.name]; track item[colConf.name]; let k = $index){
    <span>
      @if(!item[colConf.hidden] && item[colConf.isImgIcon]){
        <div [matTooltip]="item[colConf.config.display]"  class="bn-row-icon-loop"
        [ngStyle]="{'background-image': 'url('+ (colConf.darkMode==true? item[colConf.config.icondark]:item[colConf.config.icon])+')'}"></div>
      }@else if(!item[colConf.hidden] && !item[colConf.isImgIcon]){
        <span style="margin-right:3px" [matTooltip]="item[colConf.config.display]" class="bn-row-icon-loop"
        ><i class="{{item[colConf.config.icon]}}"></i> </span>
      }
    </span>
  }